.game {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.button {
    height: 2rem;
    width: 5rem;
    margin: auto;
    
}

.text {
    margin: auto;
    display: inline-block;
}

.buttons {
    margin: auto;
}

button {
    margin-left: 10px;
}