.game {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.button {
    height: 2rem;
    width: 7rem;
    margin: auto;
    background-color: rgb(14 13 13 / 87%);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    border-color: black;
    color: black;
    background-color: white;
}

.text, .buttons {
    margin: auto;
    border-radius: 5px;
    text-align: center;
    border-color:white;
}

.user-button {
    background-color: deepskyblue;
    color: white;
    width: 6rem;
    height: 2rem;
}

.user-button:hover {
    border-color: deepskyblue;
    color: deepskyblue;
    background-color: white;
}

.computer-button {
    background-color: deeppink;
    color: white;
    width: 7rem;
    height: 2rem;
}

.computer-button:hover {
    border-color: deeppink;
    color: deeppink;
    background-color: white;
}


button {
    margin-left: 10px;
    border-color: white;
    cursor: pointer;
    border-radius: 5px
}

