.game {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.button {
    height: 2rem;
    width: 7rem;
    margin: auto;
    background-color: rgb(14 13 13 / 87%);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.text, .buttons {
    margin: auto;
    width: 12rem;
    border-radius: 5px;
}

.user {
    background-color: deepskyblue;
    color: white;
}

.computer {
    background-color: deeppink;
    color: white;
}


button {
    margin-left: 10px;
}