.bubble {
    width: 6vh;
    height: 6vh;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.user {
    background-color: deepskyblue;
}

.computer {
    background-color: deeppink;
}
